<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium at repellendus, quia, quis enim dolorum sit veritatis minus nisi autem doloribus quos porro ipsa odit rerum placeat incidunt veniam corporis.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture class="feature__content">
            <source type="img/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x" >
            <source type="img/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x" >
            <img class="feature__image" src="images/easy@2x.jpg" alt="">
        </picture>

        <picture class="feature__content">
            <source type="img/webp" srcset="images/fast.webp 1x, images/fast@2x.webp 2x" >
            <source type="img/jpg" srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x" >
            <img class="feature__image" src="images/fast@2x.jpg" alt="">
        </picture>
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quis obcaecati recusandae dicta, vero corporis nostrum velit. At distinctio reprehenderit tempore aliquid. Cumque ab tempore aliquam quisquam distinctio voluptas doloribus.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>

        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">WordPress made easy</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium at repellendus, quia, quis enim dolorum sit veritatis minus nisi autem doloribus quos porro ipsa odit rerum placeat incidunt veniam corporis.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture class="feature__content">
            <source type="img/webp" srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x" >
            <source type="img/jpg" srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x" >
            <img class="feature__image" src="images/wordpress@2x.jpg" alt="">
        </picture>

        <picture class="feature__content">
            <source type="img/webp" srcset="images/support.webp 1x, images/support@2x.webp 2x" >
            <source type="img/jpg" srcset="images/support.jpg 1x, images/support@2x.jpg 2x" >
            <img class="feature__image" src="images/support@2x.jpg" alt="">
        </picture>
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">24/7 Expert Support</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quis obcaecati recusandae dicta, vero corporis nostrum velit. At distinctio reprehenderit tempore aliquid. Cumque ab tempore aliquam quisquam distinctio voluptas doloribus.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
    </article>
</section>